* {
    box-sizing: border-box;
  }
  
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #faf9e9;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
} 

label {
  display:block;
  margin-bottom: 5px;
}

input[type="file"] {
  display: block;
  margin: 0 auto;
}

select {
  width: 100%;
  font-size: 16px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 10px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3B85D7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #217BC4;
}

#status {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.disabled input,
.disabled select,
.disabled button {
  pointer-events: none;
  opacity: 0.5;
}